<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

<div class="header">
    <h1><img class="fit-picture"
         src="https://cdn.pixabay.com/photo/2016/01/21/21/23/rose-1154830_960_720.png"
         alt="Free rights from https://pixabay.com/vectors/rose-logo-grief-black-berry-1154830/"
         height="125">
         <p>WYM</p>
        </h1>         
</div>


<div class="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/model">Model</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
<div class="main">
</div>

<p>
    Entrez votre texte:
    <form action="/model" method="post">
        Texte: <input type="text" name="texte">  <br />
        Nom: <input type="text" name="nom">  <br />
        Mail: <input type="text" name="mail" /> <br />
        Téléphone (optionel): <input type="text" name="tel" /> <br />
        <input type="submit" value="Submit" />
    </form>
</p>
<p>
Votre résumé ici: {{ variable }}
</p>

